<!-- On fait appel au gossip de la page en récupérant son ID qui est en paramètre dans
L'URL grâce à la méthode appelée dans le controller, puis on affiche les infos du gossip
en suivant la logique de la base de données-->

<!-- Le titre du gossip -->
<h3 class="card-title text-center m-4">	<%= @gossip.title %></h3>

<div class="row justify-content-md-center mb-4">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<!-- Le contenu du gossip -->
				<p class="card-title">	<%= @gossip.content %></p>
				<!-- La date de création du gossip -->
				<p class="card-text font-italic"><%= @gossip.created_at %></p>
				<!-- L'auteur du gossip -->
				<!-- On affiche l'auteur sous forme de lien pour pouvoir accéder à sa page.
		 Le lien permet d'accéder à la page auteur avec son ID en paramètre dans
		 l'URL -->
				<p>
					Author : <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", show_author_path(@gossip.user.id) %>
				</p>
			</div>
		</div>
	</div>
</div>